<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="gdtBuilder"
         name="GDT Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="de.fb12.marburg.gdt.core.builder.GDTBuilder">
         </run>
      </builder>
   </extension>
   
   <extension
         id="gdtNature"
         name="GDT Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.fb12.marburg.gdt.core.builder.GDTNature">
         </run>
      </runtime>
      <builder
            id="de.fb12.marburg.gdt.core.gdtBuilder">
      </builder>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="de.fb12.marburg.gdt.core.contribution1">
         <action
               label="Add/Remove Sample Nature"
               class="de.fb12.marburg.gdt.core.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="de.fb12.marburg.gdt.core.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
